.quilia-container 
{
	margin:0;	
	width:100%;
}

.quilia-container a
{
	color:#646464;
}

.quilia-container a:hover
{
	text-decoration: none;	
	color:#000;
	font-weight: bold;
}

.quilia-container ul
{
	margin:0;
	list-style:none;
	padding:0;	
}
.quilia-container .quilia-menu .quilia-onda
{
	padding:0 !important;	
	margin-right: -1px;
}

.quilia-container .quilia-menu
{
	margin:0 auto;
	padding:0;	
	position:relative;	
	margin:0 auto !important;
}

.quilia-container .quilia-menu .quilia-only-onda
{
	position:relative;	
	z-index:500;
}

.quilia-container .quilia-menu canvas.menu-onde
{
	width:100%;
}

.quilia-container .quilia-menu .quilia-only-onda li
{
	position: absolute;
	z-index: 1;
	display: none;
	padding-left: 10px;
	padding-right: 10px;
}

.quilia-container .quilia-menu .text-menu
{
	text-align:center;	
	cursor:pointer;
}

.quilia-container .quilia-menu .text-menu:hover,.quilia-container .quilia-menu .quilia-onda.active .text-menu
{
	font-weight: bold;	
	color:#000;
}

/* GOCCIA */

.container-gocce .quilia-container 
{
	border-top:3px solid #000000;	
	position:relative;
}

.container-gocce .quilia-container  .text-menu
{
	margin-top: 10px;
}

.container-gocce .quilia-group-goccia.active .text-menu
{
	font-weight:bold;	
}

.container-gocce .quilia-container ul
{
	display:none;	
	position:absolute;
	width:100%;
}

.container-gocce .quilia-container ul li
{
	display:inline-block;	
	padding-right:10px;
	font-size: 12px;
	
}

.container-gocce .quilia-container ul li:last-child
{
	padding-right:0;
}

.quilia-group-goccia
{
	position:static;
}

.quilia-only-goccia{}

.quilia-group-goccia .gocciaAnim
{
	margin:0 auto;
	margin-top:-1px;
}

.quilia-group-goccia.deactive .gocciaAnim
{
	background: url("../img/Goccia.png") 0 0 no-repeat; 
	width: 40px;
	height: 30px;
	margin-top:-1px;
	
	-webkit-animation: gocciaAnimDeactive forwards 1s steps(24) 1;
	-moz-animation: gocciaAnimDeactive forwards 1s steps(24) 1;
	-ms-animation: gocciaAnimDeactive forwards 1s steps(24) 1;
	-o-animation: gocciaAnimDeactive forwards 1s steps(24) 1;
	animation: gocciaAnimDeactive forwards 1s steps(24) 1;
}


.quilia-group-goccia.active .gocciaAnim
{
	background: url("../img/Goccia.png") 0 0 no-repeat; 
	width: 40px;
	height: 30px;
	
	-webkit-animation: gocciaAnim forwards 1s steps(24) 1;
	-moz-animation: gocciaAnim forwards 1s steps(24) 1;
	-ms-animation: gocciaAnim forwards 1s steps(24) 1;
	-o-animation: gocciaAnim forwards 1s steps(24) 1;
	animation: gocciaAnimforwards 1s steps(24) 1;
}

@keyframes gocciaAnim
{  
	0% {background-position: 0 0; height: 0; }
	50% { height: 30px;}
	100% {background-position: -960px 0;}
}

@-webkit-keyframes gocciaAnim
{
	0% {background-position: 0 0; height: 0; }
	50% { height: 30px;}
	100% {background-position: -960px 0;}   
}

@-ms-keyframes gocciaAnim
{
	0% {background-position: 0 0; height: 0; }
	50% { height: 30px;}
	100% {background-position: -960px 0;}
}

@-o-keyframes gocciaAnim
{
	0% {background-position: 0 0; height: 0; }
	50% { height: 30px;}
	100% {background-position: -960px 0;}    
}



@keyframes gocciaAnimDeactive
{  
	0% {background-position: -960px 0; }
	50% { height: 30px;}
	100% {background-position: 0 0; height:0;}  
	 
}

@-webkit-keyframes gocciaAnimDeactive
{
	0% {background-position: -960px 0; }
	50% { height: 30px;}
	100% {background-position: 0 0; height:0;}  
}

@-ms-keyframes gocciaAnimDeactive
{
	0% {background-position: -960px 0; }
	50% { height: 30px;}
	100% {background-position: 0 0; height:0;}        
}

@-o-keyframes gocciaAnimDeactive
{
	0% {background-position: -960px 0; }
	50% { height: 30px;}
	100% {background-position: 0 0; height:0;}        
}

.logo
{
	position:absolute;
	z-index:99999;	
}